@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
	--color-white: #fff;
	--color-gray: rgb(72, 72, 72);

	--transition: all 400ms ease;
}

body {
	font-family: "Noto Serif", serif;
	background: var(--color-white);
	color: var(--color-gray);
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}
